Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace*.xcworkspace
Content/T_Netto/Mapa/Mapa_BuiltData.uasset
Content/T_Netto/Mapa/Mapa_BuiltData.uasset
Content/T_Netto/Mapa/Mapa_BuiltData.uasset
Content/RPG/Blueprints/BP_RPGFunctionLibrary.uasset
Content/PROTOTIPO/Prototipo.umap
*.umap
